
<div class="container mt-5">
    <h1 class="mb-5">News</h1>
     <% for i in 1..3 do%>
    <div class="category-container">
   
        <h3>Category: Science</h3>
        <div class="d-flex justify-content-start mb-5 mt-5 flex-column">
           <% for i in 1..2 do%>
            <div class="title">
                <a href="#" class="text-decoration-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
            </div>
            <div class="body">
               <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a href="" class="text-decoration-none">Read more</a> </p>
            </div>
            <%end%>
        </div>
    </div>
    <%end%>
</div>